---
---

@import "{{ site.theme }}";
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
#fleft  {
    float: left;    
     margin: 0 25px 0 0;
    }
#fright  {
      float: right;    
       margin: 0 25px 0 0;
      }